:root {
  --primary-text-color: #757575;
  --title-text-color: rgba(0, 0, 0, 0);
  --logo-color: #000000;
  --body-background-color: #ffffff;
  --focus-color: #2196f3;
  --link-color: #212121;
  --hero-bacground-color: #2f303a;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
  --filter-battons-color: #f5f4fa;
  --hero-color: #ffffff;
  --background-hero-btn: #2196f3;
  --title-color: #212121;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --time-duration: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

address {
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  margin-right: 93px;
  color: var(--logo-color);
}

.logo__web {
  color: var(--focus-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  margin-right: auto;
}

.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.link {
  text-decoration: none;
  color: var(--link-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-duration);
          transition-timing-function: var(--time-duration);
}
.link:hover, .link:focus {
  color: var(--focus-color);
}

.current {
  color: var(--focus-color);
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.menu__link {
  display: inline-block;
  padding: 32px 0px;
  position: relative;
}

.site-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-contact:hover, .site-contact:focus {
  color: var(--focus-color);
}

.site-contact__item {
  margin-right: 50px;
}

.site-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.site-contact__link:hover .site-contact__icon, .site-contact__link:focus .site-contact__icon {
  fill: currentColor;
}

.site-contact__link {
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  text-align: center;
  background-repeat: no-repeat;
}

.hero__bg {
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-background.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}

.hero__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--background-hero-btn);
  color: var(--filter-battons-color);
  border-radius: 4px;
  border: none;
  min-width: 216px;
  height: 50px;
  padding: 0;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.features__item::before {
  content: "";
  width: 240px;
  height: 120px;
}

.features__wrap {
  max-width: 270px;
  max-height: 120px;
  text-align: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-work {
  text-align: center;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.work-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

.section-team {
  text-align: center;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--body-background-color);
}

.team-item-container {
  padding: 30px 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--body-background-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms var(--time-duration);
  transition: background-color 250ms var(--time-duration);
}
.team-social-link:hover, .team-social-link:focus {
  background-color: var(--focus-color);
}

.team-social-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--time-duration);
  transition: fill 250ms var(--time-duration);
}
.team-social-link:hover .team-social-icon, .team-social-link:focus .team-social-icon {
  fill: var(--body-background-color);
}

.section-clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--body-background-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--time-duration);
  transition: border 250ms var(--time-duration);
}
.clients-link:hover, .clients-link:focus {
  background-color: var(--body-background-color);
  border: 1px solid var(--focus-color);
}

.clients-icon {
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms var(--time-duration);
  transition: fill 250ms var(--time-duration);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--focus-color);
}

.footer {
  background-color: var(--hero-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 30px;
}

.footer-container-list {
  margin-right: 70px;
}

.footer-logo {
  color: var(--filter-battons-color);
  margin-right: 0;
}

.footer-address {
  margin-top: 20px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--focus-color);
}
.contacts:last-child {
  margin-bottom: 0;
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
  text-decoration: none;
  padding: 0 0;
}

.contacts-item {
  margin-bottom: 9px;
}
.contacts-item .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-adress-color);
  padding: 0 0;
}
.contacts-item .adress-link {
  color: var(--hero-color);
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms var(--time-duration);
  transition: background-color 250ms var(--time-duration);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--focus-color);
}

.footer-soc-icon {
  fill: var(--hero-color);
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: var(--body-background-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-bottom: 20px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.subscribe-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}
.subscribe-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-label {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--focus-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--filter-battons-color);
  margin-left: 12px;
  position: relative;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--filter-battons-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--time-duration), visibility 250ms var(--time-duration);
  transition: opacity 250ms var(--time-duration), visibility 250ms var(--time-duration);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--body-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(1) rotate(360deg);
          transform: translate(-50%, -50%) scaleY(1) rotate(360deg);
  -webkit-transition: -webkit-transform 250ms var(--time-duration);
  transition: -webkit-transform 250ms var(--time-duration);
  transition: transform 250ms var(--time-duration);
  transition: transform 250ms var(--time-duration), -webkit-transform 250ms var(--time-duration);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0) rotate(0deg);
          transform: translate(-50%, -50%) scaleY(0) rotate(0deg);
}

.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  -webkit-transition: fill 250ms var(--time-duration);
  transition: fill 250ms var(--time-duration);
}
.modal-close:focus, .modal-close:hover {
  fill: var(--focus-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-align: center;
}

.modal-form {
  margin-top: 30px;
}

.modal-fill {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 36px;
  -webkit-transition: border 250ms var(--time-duration);
  transition: border 250ms var(--time-duration);
}
.modal-input:focus {
  border: 1px solid var(--focus-color);
}

.modal-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  left: 0;
  bottom: 0;
}

.modal-wrap {
  position: relative;
  margin-bottom: 20px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--time-duration);
  transition: fill 250ms var(--time-duration);
}
.modal-input:focus ~ .modal-icon {
  fill: var(--focus-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.modal-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  margin-bottom: 30px;
}

.check-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--focus-color);
  -webkit-transition: color 250ms var(--time-duration);
  transition: color 250ms var(--time-duration);
  padding-left: 2px;
}
.check-link:hover, .check-link:focus {
  color: var(--focus-color);
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--link-color);
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: transparent;
}
.modal-check:checked + .check-text span {
  background-color: var(--focus-color);
  border: none;
  fill: var(--filter-battons-color);
}

.modal-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--filter-battons-color);
  border: none;
}

.section-filter {
  padding: 94px 0;
}

.container-filter {
  text-align: center;
  margin-bottom: 50px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--title-color);
  padding: 6px 22px;
  -webkit-transition: color 250ms var(--time-duration), background-color 250ms var(--time-duration), -webkit-box-shadow 250ms var(--time-duration);
  transition: color 250ms var(--time-duration), background-color 250ms var(--time-duration), -webkit-box-shadow 250ms var(--time-duration);
  transition: color 250ms var(--time-duration), background-color 250ms var(--time-duration), box-shadow 250ms var(--time-duration);
  transition: color 250ms var(--time-duration), background-color 250ms var(--time-duration), box-shadow 250ms var(--time-duration), -webkit-box-shadow 250ms var(--time-duration);
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--focus-color);
  color: var(--filter-battons-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.examples-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.examples-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.examples-link {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-duration);
  transition: -webkit-box-shadow 250ms var(--time-duration);
  transition: box-shadow 250ms var(--time-duration);
  transition: box-shadow 250ms var(--time-duration), -webkit-box-shadow 250ms var(--time-duration);
}
.examples-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-link-wrapper {
  position: relative;
  overflow: hidden;
}

.examples-link-owerlay {
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-duration);
  transition: -webkit-transform 250ms var(--time-duration);
  transition: transform 250ms var(--time-duration);
  transition: transform 250ms var(--time-duration), -webkit-transform 250ms var(--time-duration);
}
.examples-link:hover .examples-link-owerlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.owerlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--hero-color);
  text-align: center;
  padding: 63px 24px;
  overflow: auto;
}

.examples-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.examples-type {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */