@import './utils/_vars';
@import './base/_reset';
@import './utils/mixim';
@import './components/base-elements';
@import './components/hidden';

@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/features-section';
@import './layouts/work-section';
@import './layouts/team-section';
@import './layouts/clients-section';
@import './layouts/footer';

@import './utils/modal';

@import './layouts/portfolio-section';