ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 2px solid red;
}

address {
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  // @include font(26px, 1.19, 0.03em);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
   text-decoration: none;
  }