.section-work {
    text-align: center;
    padding-bottom: 94px;
  }
  
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1667;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .work {
    display: flex;
    gap: 30px;
  }

  .work-item {
    width: calc((100% - 60px) / 3);
    position: relative;
  }
  
  .work-description {
    display: flex;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);
    background-color: rgba(47, 48, 58, 0.8);
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }